@import 'tailwindcss';

@plugin '@tailwindcss/forms';

@theme {
  --color-warningred: #ff2525;

  --color-greyscale-100: #f4f4f4;
  --color-greyscale-200: #d9d9d9;
  --color-greyscale-300: #b8b8b8;

  --color-accent-90: #c796ff;
  --color-accent-100: #b676ff;
  --color-accent-200: #9c56ff;
}

/*
  The default border color has changed to `currentColor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {

  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }
}

@layer base {
  a {
    @apply cursor-pointer;
  }
}

@utility change {
  display: inline-block;
  transition:
    transform 0.5s ease-in-out,
    opacity 0.5s ease-in-out;
}

@utility up {
  transform: translateY(-20px);
  opacity: 0;
}

@utility animate-inOut {
  display: inline-block;
  animation: inOut 2s infinite;
}

@utility usablesize {
  width: calc(100vw - 225px);
}

@layer base {
  @font-face {
    font-family: 'Galano';
    src: url('/fonts/galano.otf') format('opentype');
    font-weight: bold;
  }

  @font-face {
    font-family: 'Montserrat';
    src: url('/fonts/montserrat.ttf') format('truetype');
    font-weight: 450;
  }

  body {
    font-family: 'Montserrat', system-ui, -apple-system, BlinkMacSystemFont, 'ui-sans-serif', sans-serif;
    touch-action: manipulation;
  }
}

@layer utilities {
  @keyframes inOut {

    0%,
    100% {
      opacity: 1;
    }

    50% {
      opacity: 0;
    }
  }

  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: translate(-20px, 0);
    }

    to {
      opacity: 1;
      transform: translate(0px, 0px);
    }
  }

  @keyframes fadeOut {
    from {
      opacity: 1;
      transform: translate(0px, 0px);
    }

    to {
      transform: translate(-20px, 0);
      opacity: 0;
    }
  }
}