@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: 'Galano';
    src: url('/fonts/galano.otf') format('opentype');
    font-weight: bold;
  }

  @font-face {
    font-family: 'Montserrat';
    src: url('/fonts/montserrat.ttf') format('truetype');
    font-weight: 450;
  }

  body {
    font-family: 'Montserrat', system-ui, -apple-system, BlinkMacSystemFont, 'ui-sans-serif', sans-serif;
    touch-action: manipulation;
  }
}

@layer components {
  .fadeIn {
    @apply animate-fadeIn;
  }

  .fadeOut {
    @apply animate-fadeOut;
  }

  .change {
    display: inline-block;
    transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
  }

  .up {
    transform: translateY(-20px);
    opacity: 0;
  }

  .animate-inout {
    display: inline-block;
    animation: inout 2s infinite;
  }

  .usablesize {
    width: calc(100vw - 225px);
  }
}

@layer utilities {
  @keyframes inout {

    0%,
    100% {
      opacity: 1;
    }

    50% {
      opacity: 0;
    }
  }

  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: translate(-20px, 0);
    }

    to {
      opacity: 1;
      transform: translate(0px, 0px);
    }
  }

  @keyframes fadeOut {
    from {
      opacity: 1;
      transform: translate(0px, 0px);
    }

    to {
      transform: translate(-20px, 0);
      opacity: 0;
    }
  }
}