@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@layer base {
  @font-face {
    font-family: 'Galano';
    src: url("/fonts/galano.otf") format("opentype");
    font-weight: bold;
  }
}

@keyframes inout {

  0%,
  100% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }
}

.fadeIn {
  animation: 0.5s fadeIn forwards;
}

.fadeOut {
  animation: 0.5s fadeOut forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translate(-20px, 0);
  }

  to {
    opacity: 1;
    transform: translate(0px, 0px);
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
    transform: translate(0px, 0px);
  }

  to {
    transform: translate(-20px, 0);
    opacity: 0;
  }
}

.change {
  display: inline-block;
  transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
}

.up {
  transform: translateY(-20px);
  opacity: 0;
}

.animate-inout {
  display: inline-block;
  animation: inout 2s infinite;
}

.fadeIn {
  animation: 0.5s fadeIn forwards;
}

.fadeOut {
  animation: 0.5s fadeOut forwards;
}

.usablesize {
  width: calc(100vw - 225px);
}